# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build/
.idea/
cmake-build-debug/
third-party/
output/
target/

bbts-agent/proto/*.cpp
bbts-agent/proto/*.h
bbts-agent/proto/*.cc

bbts-tracker/proto/*.h
bbts-tracker/proto/*.cpp
bbts-tracker/proto/*.cc

tracker-protocol/*.h
tracker-protocol/*.cpp